# Dependencies
node_modules
.pnpm-store

# Build output
dist
build

# Environment variables
.env
.env.*
!.env.example

# IDE and editor files
.vscode
.idea
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage

# Drizzle
drizzle
*.sqlite
*.sqlite3

# TypeScript
*.tsbuildinfo 
